<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- 使用官方NuGet源 -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <config>
    <add key="http_proxy" value="" />
    <add key="signatureValidationMode" value="accept" />
    <add key="requireSignatureForVerification" value="false" />
  </config>
</configuration>